<footer>
  <div class="container-md">
    <p class="logo-text">
      <img src="../assets/img/logo_text.png" alt="logo" />
      <span style="color: white">지오에이아이데이터학회</span>
    </p>
    <p class="copyright">
      <span style="color: white">&bull; 주소: 서울특별시 동대문구 서울시립대로163 전농관 110호</span
      ><span style="color: white">&bull; Tel: 02-6490-5682</span>
    </p>
    <p class="copyright">
      <span style="color: white">&bull; E-mail: geoaidata@gmail.com </span>
      <span
      style="color: white" >&bull; 학회 공식사이트:
        <a style="color: gray" href="https://geoai.modoo.at">https://geoai.modoo.at</a></span
      >
    </p>
  </div>
</footer>
